<div class="row">
    <mat-card class="example-card1" style="width:1450px;height:70px;margin-top: 15px;">
    <span><h4 style="text-align: center; margin-top:20px; color:aliceblue">Back to top</h4></span>
    
    </mat-card>
        <mat-card class="example-card" style="width: 1450px;height: 425px;">
       <div class="row mx-5 my-5 p-3">
        <div class="col-md-3 my-4">
            <mat-card-title style="color:aliceblue;" >Get to Know Us</mat-card-title>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">About Us</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Careers</mat-card-subtitle>
            <mat-card-subtitle  style="color:aliceblue;margin-top: 10px;">Press Releases</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Amazon Science</mat-card-subtitle>
        </div>
        <div class="col-md-3 my-4">
            <mat-card-title style="color:aliceblue;">Connect with Uss</mat-card-title>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Facebook</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Twitter</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Instagram</mat-card-subtitle>
        </div>
        <div class="col-md-3 my-4">
            <mat-card-title style="color:aliceblue;">Make Money with Us</mat-card-title>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Sell on Amazon</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Sell under Amazon Accelerator</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Protect and Build Your Brand</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Amazon Global Selling</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Become an Affiliate</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Fulfilment by Amazon</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Advertise Your Products</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Amazon Pay on Merchants</mat-card-subtitle>

        </div>
        <div class="col-md-3 my-4">
            <mat-card-title style="color:aliceblue;">Let Us Help You</mat-card-title>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">COVID-19 and Amazon</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Your Account</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Returns Centre</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">100% Purchase Protection</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Amazon App Download</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Amazon Assistant Download</mat-card-subtitle>
            <mat-card-subtitle style="color:aliceblue; margin-top: 10px;">Help</mat-card-subtitle>
        </div>
       </div>
        </mat-card>
        <mat-divider></mat-divider>
            <mat-card class="example-card" style="width:1500px;height:300px;">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2 my-5">
                    <img mat-card-image src="https://www.freepnglogos.com/uploads/amazon-png-logo-vector/amazon-png-logo-vector-1.png" style="width:100px;height:70px;">
            
                </div>
                <div class="col-md-2 mx-1">
                    <form class="mx-1 my-5">
                        <mat-form-field appearance="fill">
                          <mat-label>Language</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let x of language1" [value]="x.id">
                              {{x.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row mx-5">
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Australia</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Brazil
                    </mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Canada</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">China</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">France</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Germany</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Italy</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Japan</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Mexico</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Netherlands</mat-card-subtitle></span>
                </div>
                <div class="col-md-1">
                    <span><mat-card-subtitle style="color: white;">Poland</mat-card-subtitle></span>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row mx-2">
                <div class="col-md-1"></div>
                <div class="col-md-2 mx-3">
                    <span><mat-card-subtitle style="color: white;">Spain</mat-card-subtitle></span>
                </div>
                <div class="col-md-2 mx-3">
                    <span><mat-card-subtitle style="color: white;">United Kingdom</mat-card-subtitle></span>
                </div>
                <div class="col-md-2 mx-3">
                    <span><mat-card-subtitle style="color: white;">United States</mat-card-subtitle></span>
                </div>
                <div class="col-md-5"></div>
            </div>
         </mat-card>
         <mat-card style="width: 1450px;height:500px;background-color:#131A22">
        <div class="row my-3">
            <div class="col-md-3 p-4">
                <span><h3 style="color:aliceblue;margin-top:34px; margin-left: 67px;">
                    AbeBooks</h3></span>
                    <h6 style="color:aliceblue;margin-left: 49px;">Books,Art <br> collectibles</h6>
            </div>
            <div class="col-md-4 p-4">
                <span><h3 style="color:aliceblue;margin-top:34px; margin-left: 67px;">
                    Amazon Web Services</h3></span>
                    <h6 style="color:aliceblue;margin-left: 78px;">Scalable Cloud<br> Computing Services</h6>
            </div>
            <div class="col-md-3 p-4">
                <span><h3 style="color:aliceblue;margin-top:34px; margin-left: 67px;">
                    DPReview</h3></span>
                    <h6 style="color:aliceblue;margin-left: 78px;">Digital<br>Photography</h6>
            </div>
            <div class="col-md-2 p-4">
                <span><h3 style="color:aliceblue;margin-top:34px; margin-left: 67px;">
                    IMdb</h3></span>
                    <h6 style="color:aliceblue;margin-left: 49px;"> Movies TV <br> Celebrities</h6>
            </div>
        </div>
        
        
        
        </mat-card>  
</div>
    

