
<div class="Registration">
  <div class="overlay">
    <div class="text-center">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <mat-card style="width:100%;height:100%">
            <h1 class="p-2">Registration</h1>
            <div class="container">
             <form [formGroup]="RegistrationForm" (ngSubmit)="SaveData()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;height:100%">
                    <mat-label style="color:#00ADB5 ;">Username</mat-label>
                    <input matInput type="text" class="text-light" formControlName="Username">
                    <mat-error>Username is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;height:100%">
                    <mat-label style="color:#00ADB5 ;">Firstname</mat-label>
                    <input matInput type="text" class="text-light" formControlName="FirstName">
                    <mat-error>FirstName is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;height:100%">
                    <mat-label style="color:#00ADB5 ;">LastName</mat-label>
                    <input matInput type="text"  class="text-light" formControlName="LastName">
                    <mat-error> LastName is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;">
                    <mat-label style="color:#00ADB5 ;">Contactnumber</mat-label>
                    <input matInput type="text" class="text-light" formControlName="Contactnumber">
                    <mat-error
                      *ngIf="RegistrationForm.get('Contactnumber')!.errors!==null &&  RegistrationForm.get('Contactnumber')!.errors!['minlength']">
                      Contactnumber must be greater than 1.
                    </mat-error>
                    <mat-error
                      *ngIf="RegistrationForm.get('Contactnumber')!.errors!==null &&  RegistrationForm.get('Contactnumber')!.errors!['maxlength']">
                      Contactnumber must be less than 7.
                    </mat-error>
                    <mat-error
                      *ngIf="RegistrationForm.get('Contactnumber')!.errors!==null &&  RegistrationForm.get('Contactnumber')!.errors!['required']">
                      Contactnumber  is required
                    </mat-error>
                  </mat-form-field> 
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;">
                    <mat-label style="color:#00ADB5 ;">Email</mat-label>
                    <input matInput type="text" class="text-light" formControlName="EmailId">
                    <mat-error
                      *ngIf="RegistrationForm.get('EmailId')!.errors!==null &&  RegistrationForm.get('EmailId')!.errors!['required']">
                      Email is required </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;">
                    <mat-label style="color:#00ADB5 ;">Password</mat-label>
                    <input matInput type="text"  class="text-light" formControlName="Password">
                    <mat-error> Password is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;">
                    <mat-label style="color:#00ADB5 ;">ConfirmPassword</mat-label>
                    <input matInput type="text" class="text-light" formControlName="ConfirmPassword">
                    <mat-error>ConfirmPassword is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline" style="width:100%;">
                    <mat-label style="color:#00ADB5 ;">Address</mat-label>
                    <input matInput type="text" class="text-light" formControlName="Address">
                    <mat-error>Address is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="mx-2 my-2">
                <button mat-raised-button style="background-color:#00ADB5;color:#EEEEEE;width: 150px;height: 40px; border:0px;">Register</button>
                <br>
                <a href="#" style="color:white; height: 55px; width: 250px; border: 0px;"
                routerLink="/login/register">Already have an Account?Login</a>
              </div>
  
             </form>  
  
            </div>
          </mat-card>
        </div>
        <div class="col-md-2"></div>
        
      </div>
    </div>

  </div>
</div>
