
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_01.jpg" style="width:1120px;">
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        
        <div class="col-md-4 mt-3">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_02.jpg" style="width:500px; height:50px;">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_03.jpg"style="width:200px;height:400px;">
                </div>
                <div class="col-md-5">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_05.jpg" style="width:200px;height:400px; margin-left: 100px;">
                </div> 
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3"></div>  
    </div>
    <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-8">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_04.jpg" style="width:200px;height:400px;">
        </div>
        <div class="col-md-3">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_06.jpg" style="width:200px;height:400px;"> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/sub_header_2PC.jpg" style="width:400px;height:130px;">
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_07.jpg" style="width:370px;height:150px;">
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/BirthdayStore/Updated-PC/PC-mock_08.jpg" style="width:600px;height:230px;">

        </div>
        <div class="col-md-2"></div>
    </div>
    

