<div class="row">
    <div class="col-md-4">
        <div class="container">
            <mat-card style="width:330px;height:75px">
            <mat-card-header>
                <div class="row">
                    <div class="col-md-10"><mat-card-title>Amazon Pay balance</mat-card-title></div>
                    <div class="col-md-1"><p style="margin-top:10px">&#x20B9;0.00</p></div>
                    <div class="col-md-1">
                    </div>   
            </div>
            </mat-card-header>    
            </mat-card >
            <mat-card class="a">
            <mat-card-header>
                    <mat-icon fontIcon="add_circle"></mat-icon>  
                    <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10"><a href="#" class="mx-2">Add Money</a>
                    <div class="col-md-1"></div>
                </div>
                </div>
            </mat-card-header>
            <mat-card-header>
                <mat-icon>card_giftcard</mat-icon>  
                <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11"><a href="#" class="mx-2">Add Gift Card</a>
                <!-- <div class="col-md-1"></div> -->
            </div>
            </div>
        </mat-card-header>
        <mat-card-header>
            <mat-icon fontIcon="sync"></mat-icon>  
            <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10"><a href="#" class="mx-2">Auto Reload</a>
            <div class="col-md-1"></div>
        </div>
        </div>
        </mat-card-header>
        <mat-card-header>
            <mat-icon>settings_applications</mat-icon>  
            <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11"><a href="#" class="mx-2">Account Setting</a>
            <!-- <div class="col-md-1"></div> -->
        </div>
        </div>
        </mat-card-header>
            </mat-card>
        </div>
    </div>
    <div class="col-md-8">
        <mat-card class="example-card" style="width:800px;height:139px;">
    <div class="row">
        <div class="col-md-1 mx-3 my-3">
            <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/view-statement-new._CB449984751_.png" style="width:60px;height:50px;">
            <div><span>Your Transation</span></div>
        </div>
        <div class="col-md-1 mx-3 my-3">
            <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/your-rewards._CB434094595_.png" style="width:60px;height:50px;">
            <div><span>Rewards</span></div> 
        </div>
        <div class="col-md-1 mx-3 my-3">
            <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/covid._CB435409864_.png" style="width:60px;height:50px;">
            <div><span>Donate</span></div> 
        </div>
        <div class="col-md-2 mx-3 my-3">
            <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/EMI-new._CB449984728_.png" style="width:60px;height:50px;">
            <div><span>Check EMI Option</span></div> 
        </div>
        <div class="col-md-2 mx-2 my-3">
            <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/saved-cards-new._CB449984751_.png" style="width:60px;height:50px;">
            <div><span>Your Saved Card</span></div>  
        </div>
        <div class="col-md-2 mx-2 my-3">
            <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/bank-accounts-new._CB449984729_.png" style="width:60px;height:50px;">
            <div><span>Your Bank Accounts</span></div>  
        </div>
        <div class="col-md-2"></div>
    </div>
    </mat-card>
    <br>
    <div class="row mx-1">
        <mat-card class="example-card" style="width:800px;height: 490px;">
        <span><h1 class="my-3 mx-2">Recharges, Bill Payments</h1></span>
        <div class="row">
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/Mobile-recharge-new._CB449984748_.png" style="width:60px;height:50px;">
            <div><span>Mobile Recharge</span></div>

            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/electricity-new._CB449984729_.png" style="width:60px;height:50px;">
            <div><span>Electricity</span></div> 
            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/DTH-new._CB449984729_.png" style="width:60px;height:50px;">
                <div><span>DTH Recharge</span></div> 
            </div>
            <div class="col-md-2 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/img22/Apay/Icons/App_Store_Code._CB607229456_.png" style="width:60px;height:50px;">
                <div><span>App Store Code</span></div>  
            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/Mobile-postpaid-new._CB449984731_.png" style="width:60px;height:50px;">
                <div><span>Mobile Postpaid</span></div> 
            </div>
            <div class="col-md-2 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/ccbp._CB444775780_.png" style="width:60px;height:50px;">
                <div><span>Credit Card Bill</span></div> 
            </div>
            <div class="col-md-2 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/G/31/img22/Apay/Icons/LOAN_REPAYMENT._CB628603615_.jpg" style="width:60px;height:50px;">
                <div><span>Loan RePayment</span></div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/LPG-new._CB449984731_.png" style="width:60px;height:50px;">
            <div><span>Gas Cylinder</span></div>

            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/Insurance._CB430210492_.png" style="width:60px;height:50px;">
            <div><span>Insurance Premium</span></div> 
            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/piped-gas-new._CB449984748_.png" style="width:60px;height:50px;">
                <div><span>Piped Gas</span></div> 
            </div>
            <div class="col-md-2 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/water-new._CB449984751_.png" style="width:60px;height:50px;">
                <div><span>Water Bill</span></div>  
            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/Landline-new._CB449984731_.png" style="width:60px;height:50px;">
                <div><span>Landline</span></div> 
            </div>
            <div class="col-md-2 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/broadband-new._CB449984729_.png " style="width:60px;height:50px;">
                <div><span>Broadband</span></div> 
            </div>
            <div class="col-md-2 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/Property-tax-new._CB442566660_.png" style="width:60px;height:50px;">
                <div><span>Municipal Tax</span></div> 
            </div>  
        </div>
        <div class="row">
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/google-play-recharge._CB432072206_.png" style="width:60px;height:50px;">
            <div><span>Google Play Recharge</span></div>

            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/img19/AmazonPay/Acko/Misc/Subscriptions._CB656642519_.png" style="width:60px;height:50px;">
            <div><span>Subscriptions</span></div> 
            </div>
            <div class="col-md-1 mx-2 my-3">
                <img mat-card-image src=" https://m.media-amazon.com/images/G/31/apay/dashboard/ExperimentL2/Cable_TV._CB669154909_.png" style="width:60px;height:50px;">
                <div><span>Cable TV</span></div> 
            </div>
            <div class="col-md-2 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/img19/AmazonPay/Acko/APD/Edu_Fees_ADB._CB663423808_.png" style="width:60px;height:50px;">
                <div><span>Education Fees</span></div>  
            </div>
            <div class="col-md-3 mx-2 my-3">
                <img mat-card-image src="https://m.media-amazon.com/images/G/31/img19/AmazonPay/Acko/APD/ApayFasTag_DB._CB640028780_.png" style="width:60px;height:50px;">
                <div><span>Recharge & Buy Fastag</span></div> 
            </div>
        </div>
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
        <mat-card class="eample-card" style="width:800px;height:160px">
            <span><h1 class="my-3">Travel and insurance</h1></span>
            <div class="row">
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/Mobile-recharge-new._CB449984748_.png" style="width:60px;height:50px;">
                <div><span>Train</span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src=" https://m.media-amazon.com/images/G/31/apay/dashboard/flights-new._CB449984728_.png" style="width:60px;height:50px;">
                <div><span>Flight</span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/bus-new._CB420023266_.png " style="width:60px;height:50px;">
                <div><span>Bus Ticket</span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src=" https://m.media-amazon.com/images/G/31/apay/dashboard/CarInsurance._CB434413188_.png" style="width:60px;height:50px;">
                <div><span>Car Insurance</span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src=" https://m.media-amazon.com/images/G/31/apay/dashboard/BikeInsurance._CB435102452_.png" style="width:60px;height:50px;">
                <div><span>Bike Insurance</span></div>
                </div> 
            </div>
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
        <mat-card class="eample-card" style="width:800px;height:160px">
            <span><h1 class="my-3">Rewards</h1></span>
            <div class="row">
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/all-categories-rewards._CB430141566_.png" style="width:60px;height:50px;">
                <div><span>All Categories </span></div>
                </div> 
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/food-offers-new._CB449984728_.png" style="width:60px;height:50px;">
                <div><span>Food Order</span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/Store_Icon._CB420719160_.png" style="width:60px;height:50px;">
                <div><span>Stores Near You </span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/shopping-rewards._CB430141561_.png" style="width:60px;height:50px;">
                <div><span>Shopping</span></div>
                </div> 
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/travel-offers-new._CB449984751_.png" style="width:60px;height:50px;">
                <div><span>Travel</span></div>
                </div>
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/movie-offers-new._CB449984748_.png " style="width:60px;height:50px;">
                <div><span>Entertainment</span></div>
                </div>
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/health-offers-new._CB449984728_.png" style="width:60px;height:50px;">
                <div><span class="mx-3">Health</span></div>
                </div>
            </div>
            
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
        <mat-card class="eample-card" style="width:800px;height:160px">
            <span><h1 class="my-3">Gift Cards & Vouchers</h1></span>
            <div class="row">
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/add-gift-card-new._CB449984734_.png" style="width:60px;height:50px;">
                <div><span>Add Gift Card</span></div>
                </div> 
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src= "https://m.media-amazon.com/images/G/31/apay/dashboard/all-gift-cards-new._CB417311386_.png" style="width:60px;height:50px;">
                <div><span>Gift Card</span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src=" https://m.media-amazon.com/images/G/31/img22/Apay/Icons/Shopping_Voucher_icon_FINAL-03._CB606700844_.png" style="width:60px;height:50px;">
                <div><span>Amazon Vouchers </span></div>
                </div> 
                <div class="col-md-2 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/branded-gift-cards-new._CB449984729_.png " style="width:60px;height:50px;">
                <div><span>Brand Vouchers</span></div>
                </div> 
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src=" https://m.media-amazon.com/images/G/31/apay/dashboard/birthday-gift-cards-new._CB449984729_.png" style="width:60px;height:50px;">
                <div><span>Birthday Giftcard</span></div>
                </div>
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src="https://m.media-amazon.com/images/G/31/apay/dashboard/wedding-gift-cards-new._CB449984750_.png" style="width:60px;height:50px;">
                <div><span>Wedding Giftcard</span></div>
                </div>
                <div class="col-md-1 mx-2 my-1">
                    <img mat-card-image src= "https://m.media-amazon.com/images/G/31/apay/dashboard/corporateGifting._CB427013910_.png " style="width:60px;height:50px;">
                <div><span class="mx-3">Corporate Gifting</span></div>
                </div>
            </div>
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
         <mat-card class="example-card" style="width:800px;height:160px; background-color: #FBB917">
          <img mat-card-image src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/G/31/img19/AmazonPay/Surbhi/2021/Sep/APDPC/PC_Dashboar_770x150_P2P_2._CB642078759_.jpg" style="width:800px;height:160px;">
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
         <mat-card class="example-card" style="width:800px;height:160px; background-color: #FBB917">
          <img mat-card-image src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/G/31/img19/AmazonPay/Surbhi/2021/Sep/APDPC/PC_Dashboar_770x150_Bills_2._CB642078759_.jpg" style="width:800px;height:160px;">
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
         <mat-card class="example-card" style="width:800px;height:160px; background-color: #FBB917">
          <img mat-card-image src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/G/31/img19/AmazonPay/Kartik/R2UC/Shopping/LPA/Revised/PC_Dashboard_770x150_LPA._CB647720738_.jpg " style="width:800px;height:160px;">
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
         <mat-card class="example-card" style="width:800px;height:160px; background-color: #FBB917">
          <img mat-card-image src=" https://m.media-amazon.com/images/W/WEBP_402378-T2/images/G/31/AmazonPayTravel/R2GL_Train_PC_Dashboar_770x150_1._CB651982654_.jpg" style="width:800px;height:160px;">
        </mat-card>
    </div>
    <br>
    <div class="row mx-1">
         <mat-card class="example-card" style="width:800px;height:160px; background-color: #FBB917">
          <img mat-card-image src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/G/31/img19/AmazonPay/Acko/May21/PC_Dashboar_770x150_02._CB666565828_.jpg" style="width:800px;height:160px;">
        </mat-card>
    </div>
</div>
    <div class="col-md-2"></div>
    <app-foot></app-foot>
    <!-- <div class="row mx-1">
        <mat-card class="example-card" style="width:1450px;height:70px; background-color: #37475A;">
            <mat-card-title class="example-card"><span ><h4 style="color:aliceblue">Back to top</h4></span></mat-card-title>
            <div class="row">
                <mat-card class="example-card" style="width:1450px;height: 800px;"></mat-card>
            </div> 
        </mat-card>
    </div>   -->
      
</div>