<!-- <h1 class="example">Trending</h1>
<ul style="text-align: center;">
<a>Best sellers</a>
<br>
<br>
<a>New releases</a>
<br>
<br>
<a>Movers and shakers</a>
<br>
<mat-divider></mat-divider>
<br>
<h1>Digital Content and Devices</h1>
<br>
<a>Amazon Mini TV</a>
<br>
<br>
<a>Echo & Alexa</a>
<br>
<br>
<a>Fire TV</a>
<br>
<br>
<a>Kindle E-Readers & eBooks</a>
<br>
<br>
<a>Audible Audiobooks</a>
<br>
<br>
<a>Amazon Prime Video</a>
<br>
<br>
<a>Amazon prime Music</a>
<mat-divider></mat-divider>
<br>
<h1>Shop By Category</h1>
<br>
<a> Mobile Computers</a>
<br>
<br>
<a>TV,Appliances,Electronics</a>
<br>
<br>
<a>Men's Fashion</a>
<br>
<br>
<a>Womens's Fashion</a>
<br>
<br>

    <button mat-button [matMenuTriggerFor]="animals"><div><span>See All</span><mat-icon fontIcon="arrow_drop_down"></mat-icon></div></button>
<mat-menu #animals="matMenu">
<button mat-menu-item><div><span style="margin-right:50px;">Home,Kitchen,Pets</span><mat-icon fontIcon="chevron_right" ></mat-icon></div></button>
<button mat-menu-item><div><span style="margin-right:40px;">Sports,Fitness,Bags</span><mat-icon fontIcon="chevron_right"></mat-icon></div></button>
<button mat-menu-item><div><span style="margin-right:5px;">Toys,Baby Products,Kids'</span><mat-icon fontIcon="chevron_right"></mat-icon></div></button>
<button mat-menu-item><div><span style="margin-right:12px;">Car,Motorbike,Industrial</span><mat-icon  fontIcon="chevron_right"></mat-icon></div></button>
<button mat-menu-item><div><span style="margin-right:140px;">Books</span><mat-icon fontIcon="chevron_right"></mat-icon></div></button>
<button mat-menu-item><div><span style="margin-right:19px;"> Movies,Music & Video</span><mat-icon fontIcon="chevron_right"></mat-icon></div></button>
</mat-menu>

<mat-divider></mat-divider>
<br>
<h1>Program &Features</h1>
</ul> -->


